* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Arial", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
} */

/* body {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  text-align: center;
} */

/* #root {
  max-width: 1480px;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
} */

button {
  border-radius: 8px;
  border: 1px lightgray solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #f9f9f9; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* ****************************** STARTING PAGE ****************************** */

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tasks-layout-container nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.tasks-layout-container nav ul a {
  text-decoration: none;
  padding: 0.4rem 1rem;
}

.tasks-layout-container nav ul a.active {
  background-color: rgb(79, 79, 139);
  color: white;
  border-radius: 0.4rem;
}

/* STARTING PAGE */

.btn-start {
  border: 1px solid transparent;
  /* background-image: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  ); */
  background: #8ec5fc;
  color: black;
  transition: all 0.3s;
}

.btn-start:hover {
  background: #aad2fa;
}

.btn-start:active {
  background: #6f86d6;
  color: white;
}

.landing-page .button-container {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1.6rem;
  z-index: 1;
  margin: 2rem 0;
}

.landing-page .no-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.landing-page .no-task-container img {
  width: 50rem;
}

.landing-page .no-task-container p {
  font-size: 3rem;
  margin-left: 3rem;
}

/* ****************************** FORM ****************************** */

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.6rem;
  background-image: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
  padding: 1.6rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.164);
  max-width: 550px;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.6rem;
  padding: 1rem;
  border-radius: 0.8rem;
  border-color: transparent;
}

.form-inputs .buttons-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.form-inputs button {
  align-self: center;
  padding: 1rem 3rem;
  /* width: 30%; */
}

.form-inputs button[type="submit"] {
  background: #8ec5fc;
  color: black;
  transition: all 0.3s;
}

.form-inputs button[type="submit"]:hover {
  background: #aad2fa;
}

.form-inputs button[type="submit"]:active {
  background: #6f86d6;
  color: white;
}

.form-inputs-line {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}

.form-inputs-line1 {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}

.form-inputs-line2 {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}

.form .line {
  font-size: 1.2rem;
  flex-direction: row;
}

.form textarea,
option {
  font-family: "Arial", sans-serif;
  resize: none;
  font-size: 1.4rem;
}

.form .container-priority {
  background-color: white;
  padding: 0.8rem;
  border-radius: 0.5rem;
}

.form .container-priority input:checked {
  background-color: #007a7e;
  position: relative;
}

.form .container-priority input:checked::before {
  content: "☑️";
  font-size: 1.6rem;
  position: absolute;
  right: -4px;
  top: 2px;
}

/* .form-inputs-line .tooltip {
  font-size: 3rem;
  color: red;
} */

/* ****************************** DISPLAY TASK ****************************** */

/* + test by removing code */
/* .navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding: 1rem 3rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgb(201, 198, 198);
  z-index: 10;
}

.navbar ul {
  list-style: none;
} */

.tasks-dashboard-container {
  border-radius: 1rem;
  gap: 1.6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 90%;
  max-width: 1700px;
  margin: 2rem auto;
}

.task-category-container {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  transition: all 0.5s;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding: 1.6rem 0;
}

.task-category-container:hover {
  transform: scale(1.01);
}

.task-category-container-item {
  gap: 2rem;
  padding: 1rem;
  min-width: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.home {
  background-color: #d3f5fd;
}
.work {
  background-color: #f8edf0;
}
.shopping {
  background-color: #fefbe8;
}
.hobbies {
  background-color: #defaf1;
}
.other {
  background-color: #efeff9;
}

.task-item-container,
.completed {
  position: relative;
  background-color: #f9f9f9;
  border-radius: 1rem;
  padding: 1.6rem 1rem;
  margin-bottom: 1.6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.089);
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.completed {
  color: rgb(185, 185, 185);
  background-color: #727272;
  text-decoration: line-through;
}

.completed .description {
  text-decoration: line-through;
}

.task-item-container:hover {
  transform: scale(1.01);
}

.priority-icon {
  position: absolute;
  font-size: 2rem;
  top: -16px;
  left: 13px;
}

.task-item-menu {
  display: flex;
  justify-content: space-between;
}

.task-item-menu .right {
  display: flex;
  justify-content: flex-start;
  gap: 0.8rem;
  font-size: medium;
  background-color: none;
}

.task-item-menu .left {
  display: flex;
  justify-content: flex-end;
  font-size: medium;
  background-color: none;
}

.left input:checked {
  background-color: #007a7e;
  position: relative;
}

.left input:checked::before {
  content: "☑️";
  font-size: 1.6rem;
  position: absolute;
  right: -6px;
  top: -4px;
}

.task-item-menu button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.task-item-menu button:hover {
  border: none;
  transform: scale(1.1);
}

.task-item-menu button:focus,
button:focus-visible {
  outline: none;
}

.task-item-display .schedule {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-around;
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
}

.task-item-display .description {
  max-width: 20rem;
  overflow: auto;
  word-wrap: break-word;
  display: inline-block;
  text-align: center;
}

@media (max-width: 768px) {
  .landing-page .no-task-container img {
    width: 30rem;
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
    padding: 1rem;
  }
}

@media (max-width: 520px) {
  .form-inputs-line {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    gap: 1.6rem;
  }
}

@media (max-width: 480px) {
  .landing-page .no-task-container p {
    font-size: 2rem;
    margin-left: 3rem;
  }

  .tasks-layout-container nav ul {
    display: flex;
    flex-direction: column;
    /* align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0; */
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
} */
